.tag {
	font-weight: bold; margin-right: 1em;
}

.value {
	font-family: monospace;
}

.pre {
	font-family: monospace; white-space: pre;
}

.box-data{
	border: 1px solid #F0EEED;
	padding: 2rem;
	justify-content: center;
}
